# Plantilla de variables de entorno (.env)
# IMPORTANTE: Copia este archivo, renómbralo a ".env" y ajusta las contraseñas para tu entorno local.
# ¡NUNCA subas el archivo ".env" real a GitHub!

# ADMINISTRADORES
ADMIN1_EMAIL=dennis@academicscope.com
ADMIN1_PASSWORD=TuPasswordSeguro123
ADMIN1_DNI=70000001
ADMIN1_NOMBRE=Dennis
ADMIN1_APELLIDO=Admin

ADMIN2_EMAIL=massiel@academicscope.com
ADMIN2_PASSWORD=TuPasswordSeguro123
ADMIN2_DNI=70000002
ADMIN2_NOMBRE=Massiel
ADMIN2_APELLIDO=Admin

ADMIN3_EMAIL=yadira@academicscope.com
ADMIN3_PASSWORD=TuPasswordSeguro123
ADMIN3_DNI=70000003
ADMIN3_NOMBRE=Yadira
ADMIN3_APELLIDO=Admin

ADMIN4_EMAIL=edmar@academicscope.com
ADMIN4_PASSWORD=TuPasswordSeguro123
ADMIN4_DNI=70000004
ADMIN4_NOMBRE=Edmar
ADMIN4_APELLIDO=Admin

# DOCENTES
DOCENTE1_EMAIL=profesor.mario@academicscope.com
DOCENTE1_PASSWORD=DocentePassword123
DOCENTE1_DNI=12345678
DOCENTE1_NOMBRE=Mario
DOCENTE1_APELLIDO=Gutierrez

DOCENTE2_EMAIL=profesora.laura@academicscope.com
DOCENTE2_PASSWORD=DocentePassword123
DOCENTE2_DNI=87654321
DOCENTE2_NOMBRE=Laura
DOCENTE2_APELLIDO=Condori

DOCENTE3_EMAIL=profesor.carlos@academicscope.com
DOCENTE3_PASSWORD=DocentePassword123
DOCENTE3_DNI=11223344
DOCENTE3_NOMBRE=Carlos
DOCENTE3_APELLIDO=Perez

# TUTORES
TUTOR1_EMAIL=tutor.juan@academicscope.com
TUTOR1_PASSWORD=TutorPassword123
TUTOR1_DNI=33333333
TUTOR1_NOMBRE=Juan
TUTOR1_APELLIDO=Quispe

TUTOR2_EMAIL=tutora.ana@academicscope.com
TUTOR2_PASSWORD=TutorPassword123
TUTOR2_DNI=44444444
TUTOR2_NOMBRE=Ana
TUTOR2_APELLIDO=Mamani

TUTOR3_EMAIL=tutor.luis@academicscope.com
TUTOR3_PASSWORD=TutorPassword123
TUTOR3_DNI=55555555
TUTOR3_NOMBRE=Luis
TUTOR3_APELLIDO=Sanchez

# ESTUDIANTES
ESTUDIANTE1_EMAIL=estudiante.pedro@academicscope.com
ESTUDIANTE1_PASSWORD=EstudiantePassword123
ESTUDIANTE1_DNI=11111111
ESTUDIANTE1_NOMBRE=Pedro
ESTUDIANTE1_APELLIDO=Quispe

ESTUDIANTE2_EMAIL=estudiante.lucia@academicscope.com
ESTUDIANTE2_PASSWORD=EstudiantePassword123
ESTUDIANTE2_DNI=22222222
ESTUDIANTE2_NOMBRE=Lucia
ESTUDIANTE2_APELLIDO=Quispe

ESTUDIANTE3_EMAIL=estudiante.marcos@academicscope.com
ESTUDIANTE3_PASSWORD=EstudiantePassword123
ESTUDIANTE3_DNI=66666666
ESTUDIANTE3_NOMBRE=Marcos
ESTUDIANTE3_APELLIDO=Mamani

ESTUDIANTE4_EMAIL=estudiante.sofia@academicscope.com
ESTUDIANTE4_PASSWORD=EstudiantePassword123
ESTUDIANTE4_DNI=77777777
ESTUDIANTE4_NOMBRE=Sofia
ESTUDIANTE4_APELLIDO=Sanchez
